version: '3.12'
services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: example
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: example
  app:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    links:
      - db
      - mysql
